/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  height: 50vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-image: url('/img/banner-light.png');
}

:global([data-theme='dark']) .heroBanner {
  background-image: url('/img/banner-dark.png');
  color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

:global([data-theme='light']) .buttons :global(.button--secondary) {
  color: rgb(10, 61, 228);
  font-weight: 500;
  font-size: 16px !important;
}

:global([data-theme='dark']) .heroBanner .buttons :global(.button--secondary) {
  color: rgb(10, 61, 228) !important;
  font-weight: 500;
  font-size: 16px !important;
}